body {
  font-family: 'Noto Sans HK', sans-serif;
}

.App {
  margin: 0 auto;
  width: 960px;
}

.App h1 {
  color: #8BC6B9;
}

nav a {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 2px solid #000;
  color: #000;
  text-decoration: none;
}

nav a:hover, nav a.active {
  color: #8BC6B9;
  border-bottom-color: #8BC6B9;
}